@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: var(--pale-blue);
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
}
.card {
    background-color: white;
    width: 450px;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
    color: var(--desaturated-blue);
}
.heading {
    color: var(--dark-blue);
    font-size: 32px;
    font-weight: 900;
}
.description {
    line-height: 25px;
}
.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 18px;
}
.summary > * {
    margin: 10px 0;
}
.summary strong {
    color: var(--dark-blue);
    font-weight: 900;
}
.plan {
    background-color: var(--very-pale-blue);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
}
.plan a {
    color: var(--bright-blue);
    font-size: 13px;
    font-weight: 700;
}
.plan a:hover {
    text-decoration: none;
    opacity: 0.6;
}
.plan-description {
    line-height: 25px;
    margin-right: 100px;
}
button{ 
    border: 0;
    width: 100%;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
}
.proceed-button {
    background-color: var(--bright-blue);
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 18px 30px 0 var(--pale-blue);
    color: white;
}
.proceed-button:hover {
    opacity: 0.6;
}
.cancel-button {
    background-color: white;
    color: var(--desaturated-blue);
    margin-top: 20px;
}
.cancel-button:hover {
    color: black;
}
